<ion-header>

  <ion-navbar>
    <ion-title>GalleryItemsPage</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-slides>
        <ion-slide *ngFor="let item of items">
          <ion-scroll scrollY="true" zoom="true">
            <!-- Current item is an another gallery -->
            <gallery [id]="item.id" *ngIf="item.isGallery"></gallery>

            <!-- Current item is a single image -->
            <img [src]="item.url" *ngIf="!item.isGallery">
          </ion-scroll>
        </ion-slide>
    </ion-slides>
</ion-content>
