<ion-navbar *navbar>
  <ion-title>
    {{siteName}}
  </ion-title>
</ion-navbar>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="#row of rows">
      <ion-col width-33 *ngFor="#post of row">
        <button class="thumbnail" style="background-image: url({{post.thumbnail}});" (click)="onImageClick(post)"></button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (infinite)="onInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
