<ion-navbar *navbar>
  <ion-title>
    {{siteName}}
  </ion-title>
</ion-navbar>

<ion-content>
  <ion-slides [options]="swiperOptions" (ionDidChange)="onSlideChange($event)">
    <ion-slide *ngFor="let post of activePosts">
      <scroll-content>
        <img src="{{post.display}}">
        <ion-list>
          <ion-item *ngFor="let tag of post.tags">
            <button clear (click)="onTagClick(tag)">{{tag}}</button>
            <button clear item-right (click)="onAddTagClick(tag)"><ion-icon name="add-circle"></ion-icon></button>
            <button clear item-right (click)="onRemoveTagClick(tag)"><ion-icon name="remove-circle"></ion-icon></button>
          </ion-item>
        </ion-list>
      </scroll-content>
    </ion-slide>
  </ion-slides>
</ion-content>
